body {
	margin-top: 16%;
}

Textbox {
	align-items:center;
}

button {
	border-radius: 10px 10px;
}

#quadroDeLogin {
	align-content: center;
	margin: 0px auto;
	text-align: center;
	background-color:;
	width: 80px;
	width: 176px;
	border: 2px solid #000000;
}

#frmTelaLogin {
	width: 182px;
}