<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Projeto_Jogo_RPG.Properties.Settings.ConnectionString"
            connectionString="Provider=SQLNCLI11;Data Source=den1.mssql8.gear.host;User ID=pim"
            providerName="System.Data.OleDb" />
        <add name="Projeto_Jogo_RPG.Properties.Settings.ConnectionString1"
            connectionString="Data Source=den1.mssql8.gear.host;Persist Security Info=True;User ID=pim;Password=Sn4ho_Kvnnp-"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
